@media screen and (min-width: 875px) and (max-width: 1024px) {
 
    #card-image {
        width: 350px;
        height: 350px;
    }
}

@media screen and (min-width: 1024px) {
 
    #card-image {
        width: 350px;
        height: 350px;
    }
}